# URL backend API
VITE_API_URL=http://localhost:5000/api

# URL WebSocket (Socket.io) - Phase 2
VITE_SOCKET_URL=http://localhost:5000

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
